[Desktop Entry]
Type=Application
Name=clevo-fan-control
Comment=Driver for fans on Clevo machines
Path=/usr/local/bin
Exec=clevo-fan-control
Terminal=false
